.page-container {
  width: 100%;
  margin: 0px auto !important;
  background: linear-gradient(
    to right,
    #f9f1e7 0%,
    #f9f1e7 68%,
    #fcf8f3 68%,
    #fcf8f3 100%
  );
}
.hero-section {
}
.container {
  position: relative !important;
  margin-top: 130px;
  max-width: 1440px !important;
  padding: 0 !important;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 30px;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 29px;
  color: #000000 !important;
  margin: 0 40px 0 100px !important;
}
.nav-input {
  width: 473px;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 44px;
}
.navbar {
  padding-top: 40px !important;
}
.nav-item_margin {
  margin: 0 44px;
}
.nav-input > i {
  font-size: 20px;
  color: #333333;
}
.nav-input > input {
  flex: 1;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  margin-left: 5px;
}
.owl-dots {
  text-align: center !important;
  position: absolute;
  top: -58px;
  right: 600px;
}
.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #e89f71 !important;
  box-sizing: border-box !;
  margin: 0 5px;
  transition: all 0.3s ease;
  padding: 0 20px !important;
}
.owl-dot:hover,
.owl-dot.active {
  background: #e89f71 !important;
}
.disabled {
  display: flex !important;

  align-items: center;
  justify-content: center;
}
.owl-carousel {
  position: relative;
}
.owl-carousel img{
  width: 934px;
  height: 553px;
}

.owl-nav {
  position: absolute;
  top: -70px;
  right: 105px;
}

.owl-nav .owl-prev {
  cursor: pointer;
  font-size: 40px !important;
  user-select: none;
  color: #e89f71 !important;
  background: #f3d0a4 !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-nav .owl-prev span {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
.owl-nav .owl-next {
  cursor: pointer;
  font-size: 40px !important;
  user-select: none;
  color: white !important;
  background: #e89f71 !important;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-nav .owl-next span {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
.header-icon {
  margin: 0 100px 0 auto;
  align-items: center;
}
.header-icon__cart {
  margin: 0 34px;
}

/* Banner Card  */
.banner-card {
  position: absolute;
  z-index: 1000;
  left: 137px;
  top: -76px;
  width: 494px;
  height: 553px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1px);
  padding: 60px;
}
.banner-card h3 {
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  color: #3a3a3a;
}
.banner-card p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
  margin: 16px 20px 48px 0;
}
.banner-card a {
  width: 374px;
  height: 78px;
  background: #e89f71;
}
.banner-card button {
  width: 374px;
  height: 78px;
  background: #e89f71;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  color: #ffffff;
}
/* Banner Card Mobile */
.banner-card-mobile {
width: 100%;
  max-width: 320;
  height: 553px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1px);
  padding: 60px;
}
.banner-card-mobile h3 {
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  color: #3a3a3a;
}
.banner-card-mobile p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
  margin: 16px 20px 48px 0;
}
.banner-card-mobile a {
  width: 374px;
  height: 78px;
  background: #e89f71;
}
.banner-card-mobile button {
  width: 100%;
  max-width: 320;
  height: 78px;
  background: #e89f71;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  color: #ffffff;
}

/* Price Card  */
.price-card {
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  right: 135px;
  width: 294px;
  height: 148px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1px);
  padding: 24px;
}
.price-card h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3a3a3a;
}
.price-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}
.price-card .price-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
}
.price-card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Feature Section  */
.feature-section {
  background: white;
  justify-content: space-between;
  padding: 100px 102px 100px 124px;
}
.feature-section svg {
  margin-right: 25px;
}
.feature-section h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  color: #3a3a3a;
}
.feature-section__content {
  display: flex;
  align-items: center;
}
.feature-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin: 0;
}

/* Media For Responsive  */
@media only screen and (max-width: 1294px) {
  .navbar-brand {
    margin: 0 29px 0 67px !important;
    padding-top: 0 !important;
  }
  .nav-item_margin {
    margin: 0 14px;
  }
  .nav-input {
    width: 350px;
    margin: 0px 10px 0 20px;
  }
}
@media only screen and (max-width: 1198px) {
  .banner-card {
    width: 395px;
    height: 455px;
    padding: 10px;
  }
  .feature-section {
    background: white;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .feature-section__content {
    display: block;
  }
  .price-card {
    width: 216px;
    height: 122px;
    padding: 10px;
}
}


@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 576px) {
  .feature-section__content {
    margin-top: 20px !important;
  }
  .banner-card {
 display: none;
}
.owl-carousel img{
  max-width: 334px;
  width: 100%;
  height: 253px;
}
.price-card{
  right: 70px;
  bottom: 10px;
}
.feature-section {
    padding: 150px 50px 50px 50px;
  }
}
@media only screen and (min-width: 576px) {

  .banner-card-mobile {
 display: none;
}

}
